.ssh/id_ed25519.infra filter=git-crypt diff=git-crypt
.ansible-password filter=git-crypt diff=git-crypt
ansible/inventory/host_vars/anorith.yml filter=git-crypt diff=git-crypt
k8s/**/99-secrets.* filter=git-crypt diff=git-crypt
