[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jbhannah.infrastructure" = { editable = true, path = "." }
ansible = "~= 4.0"
paramiko = "*"
passlib = "*"
lxml = "*"
pyyaml = "*"
aiofiles = "*"

[dev-packages]
autoflake = "*"
flake8 = "*"
importmagic = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3"
