[Interface]
PrivateKey = {{ private_key.content | b64decode }}
Address = {{ wireguard[wireguard_group].address }}/{{ wireguard[wireguard_group].mask }}
ListenPort = {{ wireguard[wireguard_group].port }}

{% for host in groups[wireguard_group] %}
{%- if host != inventory_hostname -%}
{%- if hostvars[host].wireguard[wireguard_group] is defined -%}
{%- set peer = hostvars[host].wireguard[wireguard_group] -%}
[Peer]
PublicKey = {{ hostvars[host].public_key }}
AllowedIPs = {{ peer.address }}/32
Endpoint = {{ hostvars[host].ansible_host }}:{{ peer.port }}
{% if peer.keepalive is defined -%}
PersistentKeepalive = {{ peer.keepalive }}
{% endif %}
{% endif -%}
{%- endif -%}
{% endfor %}
