[Unit]
Description=Minecraft Server %i
After=network.target

[Service]
EnvironmentFile=-/etc/default/%N.defaults
WorkingDirectory={{ minecraft_user_home }}/%i
PrivateUsers=true
User={{ minecraft_user }}
Group={{ minecraft_user }}
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ExecStart=/usr/local/bin/mc-server-runner -detach-stdin java $JVM_ARGS -Dlog4j.configurationFile=log4j2.xml -jar fabric-server-launch.jar -nogui
Restart=on-failure
RestartSec=60s
TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target
